html {
  line-height: 1.15;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

p,
li,
ul,
pre,
div,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
figcaption {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focus,
[type="button"]:-moz-focus,
[type="reset"]:-moz-focus,
[type="submit"]:-moz-focus {
  outline: 1px dotted ButtonText;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input {
  padding: 2px 4px;
}

img {
  display: block;
}

html {
  scroll-behavior: smooth
}
.home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;

}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-between;
  background-color: #003459;
}
.home-branding {
  gap: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-logo {
  width: 103px;
  height: 108px;
  object-fit: cover;
  transition: 0.3s;
}
.home-logo:hover {
  transform: rotate(360deg);
}
.home-company {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 500;
}
.home-items {
  gap:48px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-links {
  gap: 48px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-button {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding-top: 20px;
  padding-left:  24px;
  border-radius: 56px;
  padding-right: 24px;
  padding-bottom: 20px;
  background-color: black;
}
.home-image {
  width: 100px;
  display: none;
  object-fit: cover;
}
.home-text07 {
  color: #ffffff;
  display: flex;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #003459;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom:  48px;
  justify-content: space-between;
}
.home-branding1 {
  gap: 8px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-logo1 {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.home-company1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}
.home-menu-close {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon {
  fill: #FFFFFF;
  width: 24px;
  height: 24px;
}
.home-items1 {
  gap:  48px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-links1 {
  gap:48px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text12 {
  color: #ffffff;
}
.home-hero {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}
.home-container1 {
  width: 100%;
  height: 467px;
  display: flex;
  position: relative;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("../images/business.jpg");
  background-position: center;
}
.home-button2 {
  position: absolute;
  top: 40%;
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: #003459;
}
.home-text13 {
  color: rgb(255, 255, 255);
}
.home-title {
  width:100%;
  font-size:40px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  font-style: normal;
  font-weight: 400;
}
.weather-title {
  width:100%;
  font-size:40px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  font-style: normal;
  font-weight: 400;
}
.home-description {
  width: 100%;
  height: auto;
  display: flex;
  border-color: #151515;
  padding-left: 24px;
  padding-right: 24px;
  flex-direction: column;
  border-top-width: 1px;
}
.home-description1 {
  width: 100%;
  height: auto;
  display: flex;
  border-color: #151515;
  padding-left: 24px;
  padding-right: 24px;
  flex-direction: column;
  border-top-width: 1px;
}
.home-image1 {
  width: 1181px;
  height: 431px;
  align-self: flex-end;
  object-fit: cover;
}
.home-image2 {
  width: 200px;
  display: none;
  object-fit: cover;
}
.home-footer {
  width: 100%;
  display: flex;
}
.home-information {
  gap: 32px;
  display: flex;
  width:100%;
  height:auto;
  position: relative;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-left: 60px;
  padding-right:16px;
  flex-direction: column;
  padding-bottom: 80px;
  background-color: #003459;
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-logo2 {
  width: 89px;
  height: 64px;
  object-fit: cover;
  transition: 0.3s;
}
.home-logo2:hover {
  transform: rotate(360deg);
}
.home-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-details {
  gap: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}
.home-header {
  gap: 48px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-branding2 {
  gap:8px;
  align-items: center;
  flex-direction: row;
}
.home-company2 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.home-location {
  gap:8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-caption {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.home-value {
  color: #ffffff;
  font-size: 32px;
  max-width: 560px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
.home-location1 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-caption1 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.home-value1 {
  color: #ffffff;
  font-size: 32px;
  max-width: 560px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
.home-links2 {
  gap: 24px;
  left: 109px;
  top: 109px;
  bottom: 35px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.home-social {
  color: #ffffff;
}
.home-social1 {
  color: #ffffff;
}
.home-social2 {
  color: #ffffff;
}
.home-image3 {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 20px 0;
}

h2 {
  font-size: 20px;
  margin: 0;
}

ul ul li {
  margin: 8px 0;
}

strong {
  font-weight: bold;
}
.home-description ul ul {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.home-description1 div{
  margin: 8px 0;
  font-size: 16px;
}
.home-description1  div{
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.home-description ul ul li {
  margin: 8px 0;
  font-size: 16px;
}
h2 {
  background-color: #003459;
  color:white;
  padding: 10px 10px 10px 10px;
  width: 100%;
}
/* Style the main heading */
#weather-section h2 {
  font-size: 24px;
  margin: 20px 0;
  color: white;
  width: 100%;


}

/* Style the temperature display */
#temperature-div {
  display: flex;
  align-items: center;
}

#temperature-div img {
  width: 32px; /* Adjust the size as needed */
  margin-right: 10px;
}

#temperature {
  font-size: 20px;
  font-weight: bold;
}

/* Style the weather status */
#weather-status h3 {
  font-size: 18px;
  color: #003459;
  margin-top: 10px;
}

/* Style the horizontal line */
hr {
  border: none;
  border-top: 1px solid black;
  margin: 20px 0;
}

/* Style the weather data sections */
#weather-data h4 {
  font-size: 16px;
  font-weight: bold;
  color: #003459;
  margin-top: 10px;
}

#weather-data span {
  font-size: 16px;
}

.button {
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  opacity: 0.5;
}
.input {
  color:#000000;
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  background-color: #000000;
}
.textarea {
  color: #000000;
  cursor: auto;
  padding: 0.5rem;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  background-color: #000000;
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: translateX(0%) !important;
}
.nav-link {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
}
.nav-link:hover {
  opacity: 0.5;
}
.tag {
  color: #151515;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding-top: 20px;
  border-color: #151515;
  border-width: 1px;
  padding-left: 28px;
  border-radius: 56px;
  padding-right: 28px;
  padding-bottom: 20px;
}
.link {
  gap: 16px;
  cursor: pointer;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  border-color: #151515;
  flex-direction: row;
  padding-bottom: 8px;
  justify-content: center;
  border-bottom-width: 1px;
}
.link:hover {
  opacity: 0.5;
}
.heading {
  color: #151515;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px;
  text-transform: uppercase;
}
.start-button {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding-top: 20px;
  padding-left: 28px;
  border-radius: 56px;
  padding-right: 28px;
  padding-bottom: 20px;
  background-color: #003459;
}
.service {
  width: 854px;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top:24px;
  border-color: #666666;
  flex-direction: row;
  padding-bottom: 24px;
  justify-content: space-between;
  border-bottom-width: 1px;
}
.service:hover {
  opacity: 0.5;
}
.social {
  color: rgb(21, 21, 21);
  cursor: pointer;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
}
.social:hover {
  opacity: 0.5;
}
.Content {
  font-size: 16px;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
@media(max-width: 991px) {
  .link {
    padding-bottom: 0px;
    border-bottom-width: 0px;
  }
  .heading {
    font-size: 30px;
    line-height: 27px;
  }
  .social {
    font-size: 16px;
    line-height: 19px;
  }
}

