
@media(max-width: 991px) {
  .home-title {
    font-size:30px;
  }
  .weather-title {
    font-size:30px;
  }
  .home-navbar-interactive {
    padding-top: 16px;
  }
  .home-button {
    padding-top: 16px;
    padding-right:16px;
    padding-bottom: 16px;
  }
  .home-image {
    width: 18px;
    height: 18px;
    display: flex;
  }
  .home-text07 {
    display: none;
  }
  .home-button1 {
    width: auto;
    font-size: 16px;
    text-align: center;
    border-radius: 40px;
  }
  .home-text12 {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .home-button2 {
    width: auto;
    font-size: 16px;
    text-align: center;
    border-radius: 40px;
  }
  .home-text13 {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .home-footer {
    flex-direction: column;
  }
  .home-information {
    gap:48px;
    width: 100%;
    align-items: flex-start;
    padding-top: 48px;
    padding-left: 24px;
    padding-right:24px;
    padding-bottom:48px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-details {
    gap: 24px;
  }
  .home-company2 {
    font-size: 15px;
    line-height: 18px;
  }
  .home-caption {
    font-size: 14px;
    line-height: 21px;
  }
  .home-value {
    font-size: 16px;
    line-height: 24px;
  }
  .home-caption1 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-value1 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-links2 {
    gap:16px;
  }
  .home-image3 {
    flex: 0 0 auto;
    width: 100%;
    height: 320px;
  }
}
