
h1 {
    justify-self: start; 
}

@media screen and (max-width: 405px) {
    header {
        grid-template-columns: auto 48.8px; 
    }
    
    h2 {
        text-align: center; 
    }
    
    ul {
        padding-left: 20px; 
        height: 80%; 
    }
}
